[user]
	name = Emin Khateeb
	email = emin@emin.ch
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMV1jrACzdtAuWqdCrmo5A3gr6yE7I77FR4G+wZ5yKHU

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	default = current
	autoSetupRemote = true

[fetch]
	prune = true

[rebase]
	autoStash = true

[diff]
	colorMoved = default

[merge]
	conflictStyle = zdiff3

[core]
	editor = nano

[alias]
	st = status -sb
	co = checkout
	br = branch
	lg = log --oneline --graph --decorate --all
	last = log -1 HEAD --stat

[include]
	path = ~/.gitconfig.local
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
