[user]
	name = Emin Khateeb
	email = emin@emin.ch

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	default = current
	autoSetupRemote = true

[fetch]
	prune = true

[rebase]
	autoStash = true

[diff]
	colorMoved = default

[merge]
	conflictStyle = zdiff3

[core]
	pager = delta
	editor = nvim

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false
	line-numbers = true
	side-by-side = false
	syntax-theme = Catppuccin-mocha

[alias]
	st = status -sb
	co = checkout
	br = branch
	lg = log --oneline --graph --decorate --all
	last = log -1 HEAD --stat

[include]
	path = ~/.gitconfig.local
