[user]
	name = Emin Khateeb
	email = emin@emin.ch

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	default = current
	autoSetupRemote = true

[fetch]
	prune = true

[rebase]
	autoStash = true

[diff]
	colorMoved = default

[merge]
	conflictStyle = zdiff3

[core]
	editor = nano

[alias]
	st = status -sb
	co = checkout
	br = branch
	lg = log --oneline --graph --decorate --all
	last = log -1 HEAD --stat

[include]
	path = ~/.gitconfig.local
