// Zellij config — portable across Linux and macOS.
theme "catppuccin-mocha"

default_shell "zsh"
copy_on_select true
mouse_mode true
pane_frames false
simplified_ui true
default_layout "compact"

scrollback_editor "/usr/bin/env nvim"

ui {
    pane_frames {
        rounded_corners true
        hide_session_name false
    }
}
